<div class="categories">
    {{#each categories as |category|}}
    <div class="categoryDisplay">
        <h1>{{category.name}}</h1>
        {{#each category.products as |product|}}
        <img src="/assets/images/{{product.image}}">
        <h2 class="productName">{{product.name}}</h2>
        {{/each}}
    </div>
    {{/each}}
</div>