<div class="navbar">
    <div class="logo">
        <a href="">LOGO</a>
    </div>
    <div class="navLeft">
        <button onclick="dropDown()" class="dropDownBtn btn">
            categories
            <i id="caret-drop" class="fa-solid fa-bars"></i>
        </button>
        <div id="dropDownId" class="dropDown">
            {{#each categories as |category|}}
            <a href="">{{{category.name}}}</a>
            {{/each}}
        </div>
    </div>
    <div class="navRight">
        <input class="search spaced" type="text" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass fa-xs"></i>
        </input>
        <a class="spaced" href="#">Bookmarks
            <i class="fa-solid fa-bookmark fa-xs"></i>
        </a>

        <button onClick="loginDrop()" class="btn spaced" href="">login
            <i class="fa-solid fa-door-open fa-xs"></i>
        </button>
        <div id="dropDownLoginId" class="dropDownLogin">
            <form class="signInForm">
                <div class="search">
                    <label for="email-login">email:</label>
                    <input class="search" type="text" placeholder="example@mail.com" id="email-login" />
                </div>
                <div class="search">
                    <label for="password-login">password:</label>
                    <input class="search" type="password" placeholder="password..." id="password-login" />
                </div>
                <div class="">
                    <button class="login-btn btn" type="submit">login</button>
                </div>
            </form>
                <div class="">
                    <a class="login-btn btn"  href="signup" type="button">Create an account</a>
                </div>
        </div>
    </div>
</div>