<div class="navbar">
    <div class="logo">
        <h1>PeripherAll</h1>
        <div class="navLeft">
            <button onclick="dropDown()" class="dropDownBtn btn">
                <i id="caret-drop" class="fa-solid fa-bars fa-lg"></i>
            </button>
            <div id="dropDownId" class="dropDown">
                {{#each categories as |category|}}
                <a href="#{{this.name}}">{{{category.name}}}</a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="navRight">
        <button onClick="loginDrop()" class="btn spaced" href="">login
            <i class="fa-solid fa-door-open fa-xs fa-bounce"></i>
        </button>
        <div id="dropDownLoginId" class="dropDownLogin">
            <form class="signInForm">
                <div class=" whiteTxt search">
                    <label class="email" for="email-login">&nbsp;&nbsp;Email:&nbsp;</label>
                    <input class=" search" type="text" placeholder="example@mail.com" id="email-login" />
                </div>
                <div class="whiteTxt search">
                    <label for="password-login">&nbsp;&nbsp;Passw:</label>
                    <input class=" search" type="password" placeholder="password..." id="password-login" />
                </div>
                <div class="">
                    <button class="login-btn btn" type="submit">&nbsp;&nbsp;&nbsp;Login to Account&emsp;&nbsp;&nbsp;
                        <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
                </div>
            </form>
            <div class="">
                <a class="login-btn btn" href="signup" type="button">Create an Account&emsp;
                    <i class="fa-solid fa-user-plus"></i></a>
            </div>
        </div>
    </div>
</div>