<div class="navbar">
    <div class="logo">
        <a href="">LOGO</a>
    </div>
    <div class="navLeft">
        <button onclick="dropDown()" class="dropDownBtn">
            categories
            <i id="caret-drop" class="fa-solid fa-grip-lines "></i>
        </button>
        <div id="dropDownId" class="dropDown">
            {{#each categories as |category|}}
            <a href="">{{{category.name}}}</a>
            {{/each}}
        </div>
    </div>
    <div class="navRight">
        <input class="search spaced" type="text" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass fa-xs"></i>
        </input>
        <a class="spaced" href="#">Bookmarks
            <i class="fa-solid fa-bookmark fa-xs"></i>
        </a>
        <a class="spaced" href="#">login
            <i class="fa-solid fa-door-open fa-xs"></i>
        </a>
    </div>
</div>