<div class="navbar">
    <div class="logo">
        <a href="">LOGO</a>
    </div>
    <div class="navLeft">
        <button onclick="dropDown()" class="dropDownBtn btn">
            categories
            <i id="caret-drop" class="fa-solid fa-bars"></i>
        </button>
        <div id="dropDownId" class="dropDown">
            {{#each categories as |category|}}
            <a href="">{{{category.name}}}</a>
            {{/each}}
        </div>
    </div>
    <div class="navRight">
        
        <a href="#">Bookmarks
            <i class="fa-solid fa-bookmark fa-xs"></i>
        </a>

        <button onClick="loginDrop()" class="btn spaced" href="">
            <i class="fa-solid fa-user fa-xs"></i>
        </button>
        <div id="dropDownLoginId" class="dropDownLogin">
            <h1>"INFO"</h1>
        </div>
    </div>
</div>