{{#each products.reviews as |review|}}
    <div class="userInfoReview">
    <h2>Reviewed by: {{review.user.user_name}}</h2>
    <h2>On: {{review.date_created}}</h2>
    </div>
    <div class="reviewDetails">
    <h2>Rating: {{review.stars}}</h2>
    <h2 id="productReviews" class="productReviews">Review: {{review.text}}</h2>
    </div>
{{/each}}