<div class="signup">
  <div class="signUpHeader">
    <h2>Sign up</h2>
  </div>
  <form class="signUpForm">
    <div>
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="search" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="search" type="text" id="email-signup" />
      </div>
      <div class="password">
        <label for="password-signup">password:</label>
        <input class="search" type="password" id="password-signup" />
      </div>
      <div class="form-group">
<<<<<<< HEAD
        <button class="btn btn-primary buttonA" type="submit"><span>Sign Up</span></button>
=======
        <button class="btn btn-primary" type="submit" href="/logged">signup</button>
>>>>>>> 6b7580e35012700b0b9787a890a437f74fe66c07
      </div>
  </form>
</div>