<link rel="stylesheet" href="../public/css/starReview.css">

<div class="text-center">
  <h1>Product: {{product_id}}</h2>
  <p>User: {{user_id}}</p>
  <p>Rating: {{stars}}</p>
  <p>Review: {{review.text}}</p>
</div>

<script src="../public/js/starReview.js"></script>