<link rel="stylesheet" href="../public/css/starReview.css">

<div class="text-center">
  <h2>{{product_id}}</h2>
  <p>{{user_id}}</p>
  <p>{{stars}}</p>
  <p>{{text}}</p>
</div>

<script src="../public/js/starReview.js"></script>