<div>
    <h3>Submit a review.</h3>
    <form id = "new-review-form">
        <label>Your review: </label>
        <input id = "review-entry" type = "text" placeholder = "type here" name="review-description" />

        <button type = "submit">Submit</button>
    </form>
</div>

<script src = "/js/submitReview.js"></script>