<div>
    <h3>Submit a review.</h3>
    <form id = "new-review-form">
        <!-- For rating/stars -->
        <label>Your rating: </label>
        <input id = "rating-entry" type = "text" placeholder = "type here" />

        <!-- For review text -->
        <label>Your review: </label>
        <input id = "review-entry" type = "text" placeholder = "type here" />

        <button type = "submit">Submit</button>
    </form>
</div>

<script src = "/js/submitReview.js"></script>