<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group-3</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/d37a9fd266.js"
      crossorigin="anonymous"
      defer
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <a href="main.handlebars">LOGO</a>
      </div>
      <div class="navLeft">
        <button class="dropDownBtn" href="#">
          categories
          <i class="fa-solid fa-caret-right fa-xs"></i>
        </button>
        <div class="dropDown">
          {{body}}
        </div>
      </div>
      <div class="navRight">
        <input class="search spaced" type="text" placeholder="Search...">
          <i class="fa-solid fa-magnifying-glass fa-xs"></i>  
        </input>
        <a class="spaced" href="#">Bookmarks 
          <i class="fa-solid fa-bookmark fa-xs"></i>
        </a>
        <a class="spaced" href="#">login
          <i class="fa-solid fa-door-open fa-xs"></i>
        </a>
      </div>
    </div>
  </body>
</html>
