{{> homeBtn}}
<div class="createReview">
    <h2 class="productName">Update or Delete your Reviews</h2>
    <form class = "new-review-form update-review-form">
        <!-- For updating rating/stars. -->
        <label>You rating: </label>
        <input class="search"id = "rating-entry" type = "text" value = "{{reviews.stars}}" />

        <!-- For updating review text. -->
        <label>Your review: </label>
        <textarea class="search"id = "review-entry" type = "text" value = "{{reviews.text}}" /></textarea>
        <div>
            <button class="buttonsDU btn" type = "submit">Update</button>
        </div>
        <div>
            <button class="delete-review-btn buttonsDU btn" type = "button">Delete</button>
        </div>
    </form>
</div>

<script src = "/js/updateReview.js"></script>
<script src = "/js/deleteReview.js"></script>