<div>
    <h2>Update/Delete Review</h2>
    <form class = "update-review-form">
        <button type = "button" class = "delete-review-btn">Delete Review</button>
    </form>
</div>

<script src = "/js/deleteReview.js"></script>