<div>
    <h3>Submit a review.</h3>
    <form id = "new-review-form">
        <label>Title</label>
        <input type = "text" placeholder = "Your review title" name = "review-title" />
        
        <label>Description</label>
        <input type = "text" placeholder = "Your review here" name = "review-description/>
    </form>
</div>

<script src = "../public/js/submitReview.js"