.rating {
    display: flex;
    padding: 0;
    margin: 0;
}
    
.rating li {
    list-style-type: none
}
    
.rating-item {
    border: 1px solid #fff;
    cursor: pointer;
    font-size:2em;
    color: yellow;
}
    
/* initial: make all stars full */
.rating-item::before {
    content: "\2605";
}
    
/* make until the clicked star (the rest) empty */
.rating-item.active ~ .rating-item::before {
    content: "\2606";
}
    
/* on hover make all full */
.rating:hover .rating-item::before {
    content: "\2605";
}
    
/* make until the hovered (the rest) empty */
.rating-item:hover ~ .rating-item::before {
    content: "\2606";
}