* {
  margin: 0;
  padding: 0;
}
:root {
  --navText: #ebebeb;
  --headerBg: #2e2e2e;
  --navHover: #1f1f1f;
}
body {
  background-color: grey;
  font-family: 'Source Sans Pro', sans-serif;
}
.btn{
  border: none;
  outline: none;
  color: var(--navText);
  background-color: var(--headerBg);
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}
.login-btn{
background-color: var(--navHover);
}


.navLeft {
  float: left;
  overflow: hidden;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  color: var(--navText);
  text-decoration: none;
  align-items: center;
  display: flex;
}
.navItems {
  text-decoration: none;
}
.navbar {
  display: flex;
  font-size: 24px;
  list-style: none;
  background-color: var(--headerBg);
  padding: 15px;
  justify-content: space-around;
  height: 30px;
}
a {
  text-decoration: none;
  color: var(--navText);
}
.spaced {
  margin:0 5px 0 15px ;

}
.dropDown {
  margin-top: 13px;
  display: none;
  position: absolute;
  background-color: var(--navHover);
  min-width: 150px;
}
.dropDown a {
  float: none;
  color: var(--navText);
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 0px;
}
.dropDown a:hover {
    color: white;
    background-color: var(--headerBg);
    transition: .1s ;
}
.caretRotate{
    transform: rotate(90deg);
    transition: transform .1s;
}
.search{
  padding: 5px;
  border: none;
  font-size: 18px;
  color: var(--navText);
}
.dropDownLogin {
  margin-top: 10px;
  background-color:var(--navHover);
  display: none;
}
.show {
  display: block;
  animation: growDown 150ms ease-in-out forwards;
  transform-origin: top center
}
@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1)
  }
  100% {
      transform: scaleY(1)
  }
}
/* styling for categories and products */
img {
  height: 60px;
  width: auto;
}
.categoryDisplay{
  display: flex;
  margin-top:40px ;
}


.productImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 400px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.productName {
  text-align: center;
  text-decoration: underline;
}

.productDescription {
 padding-top: 20px;
 padding-bottom: 20px;
  text-align: center;
 font-size: large;
 margin: 0 200px 0 200px;
 
}

.productPrice {
text-align: center;
padding-bottom: 15px;
}

.productLink {
text-align: center;
text-decoration: underline;
}

.productReviews {

}