* {
  margin: 0;
  padding: 0;
}

/* color variables */
:root {
  --navText: #ebebeb;
  --headerBg: #2e2e2e;
  --navHover: #1f1f1f;
  --blackBg: rgb(24, 24, 24);
  --orange: rgb(230, 149, 0);
  --softWhite: rgb(228, 228, 228);
}

/* links scroll to section rather than instant change */
html {
  scroll-behavior: smooth;
}

/* removes ugly underline and color from all anchor tags/links */
a {
  text-decoration: none;
  color: var(--navText);
}

/* styling for logo */
.logo {
  font-weight: bold;
  font-size: 23px;
  color: var(--orange);
  text-decoration: none;
  align-items: center;
  display: flex;
}

/* styling for all text in body + background color */
body {
  background-color: var(--blackBg);
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--navText);
}

/* replaces generic btn styling with new style  */
.btn {
  border: none;
  outline: none;
  color: var(--navText);
  background-color: var(--headerBg);
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
}

/* changes color to match that of dropdown */
.login-btn {
  background-color: var(--navHover);
}

/* all styling for the navbar */
.navbar {
  display: flex;
  font-size: 24px;
  list-style: none;
  background-color: var(--headerBg);
  padding: 15px;
  justify-content: space-around;
  height: 30px;
}
/* moves bars to the right */
.dropDownBtn {
  margin-left: 10px;
}

/* styling used in category drop down*/
.dropDown {
  margin-top: 13px;
  display: none;
  position: absolute;
  background-color: var(--navHover);
  min-width: 100px;
  z-index: 7;
}

/* styling for category links in dropDown */
.dropDown a {
  color: var(--navText);
  padding: 12px 12px;
  display: block;
  text-align: left;
  margin-top: 0px;
  text-decoration: underline;
}

/* hover effect for category dropdown */
.dropDown a:hover {
  color: white;
  background-color: var(--headerBg);
  transition: .1s;
}

/* rotates Bars next to category */
.caretRotate {
  transform: rotate(90deg);
  transition: transform .1s;
}

/* Styling for text boxes(NOT JUST SEARCH) */
.search {
  padding: 5px;
  border: none;
  font-size: 18px;
  color: var(--blackBg);
}

/* color for the login dropdown */
.whiteTxt {
  color: var(--navText);
}

/* styling for login dropDown */
.dropDownLogin {
  margin-top: 14px;
  background-color: var(--navHover);
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 7;
}

.dropDownLogin a {
  color: var(--navText);
  padding: 12px 12px;
  display: block;
  text-align: left;
  margin-top: 0px;
}

.dropDownLogin a:hover {
  color: white;
  background-color: var(--headerBg);
  transition: .1s;
}

.profilePad {
  padding: 15px
}

/* CSS for the dropdown effect */
.show {
  display: block;
  animation: growDown 150ms ease-in-out forwards;
  transform-origin: top center;
}
/* For buttons delete/update */
.buttonsDU {
  text-align: center;
  border: 1px solid var(--orange);
  font-size: 20px;
  padding-bottom: 5px;
  margin: 10px 25px;
  
}
/* Center buttons */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin: auto;
  width: 20%;
}

/* CSS animation for the dropdown effect */
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1)
  }

  100% {
    transform: scaleY(1)
  }
}

/* styling for all category products IMG */
img {
  height: 150px;
  width: auto;

}

/* adds spacing around the category products IMG */
.productCard {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: rgba(116, 116, 116, 0.281);
  padding: 30px ;
  border-radius: 5px;
  align-items: center;
}

.productCard:hover{
  transition: 100ms;
  opacity: .6;
}

/* Slideshow */

/* hides images by default */
.mySlides {
  display: none
}

/* contains the slide show */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 1;

}

/* styling for the arrows on slideshow */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* styling for the arrows on slideshow */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* hover effect for the arrows on slideshow */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* styling for the numbers on top of slideshow */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* styling for the dots under slideshow */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* hover for the dots under slideshow */
.active,
.dot:hover {
  background-color: #717171;
}

/* animation for when the images change */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.slideImages {
  margin-top: 25px;
  width: 100%;
  height: auto;
  z-index: 1;
}

/* Slideshow */
/* containers for the products*/
.categoryDisplay {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

@media only screen and (max-width: 1300px) {
  .categoryDisplay {
    flex-direction: column;
    align-items: center;
  }

  .product-name {
    font-size: 24px;
  }
}

/* styling for the categoryName underline */
.categoryName {
  margin-left: 30px;
  font-size: 50px;
  background:
    linear-gradient(to right,
      var(--orange),
      rgb(24, 24, 24)) left bottom rgb(24, 24, 24) no-repeat;
  background-size: 100% 5px;
}